/* 
Since using rem can be more difficult than using px:
calc(10rem / 16) is an easy way to make 10px = 0.625rem
16 is used because it is the default browser font size
*/

:root {
  /* Colors from style guide */
  --white: #ffffff;
  --black: #000000;
  --purple: #a333c8;
  --blue: #0c66ff;
  --yellow: #fbbd09;

  /* More colors from design PSD */
  --light-black: #1a1a1a;
  --orange: #f07d2e;
  --dark-blue: #282356;
  --darker-blue: #100d2b;
  --light-green: #00efe7;
}

@font-face {
  font-family: 'Objet';
  src: url('/fonts/objet/objet-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Objet';
  src: url('/fonts/objet/objet-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media screen and (max-width: 1919px) {
  html {
    display: none;
  }
}
