@media (min-width: 1920px) {
  .layout-container {
    background-color: #100d2b;
    margin: 0 auto;
    background-image: url('/images/backgrounds/bg-full.webp');
    background-repeat: no-repeat;
    width: var(--1920px);
    height: var(--8674px);
  }
}
