.about-section {
  margin-top: calc(375rem / 16);
}

.about-container {
  background-image: url('/images/backgrounds/bg-about-us.webp');
  background-repeat: no-repeat;
  height: calc(1153rem / 16);
  display: flex;
}

.about-text-box {
  width: calc(705rem / 16);
  margin-top: calc(265rem / 16);
}

.about-section-title {
  width: calc(139rem / 16);
  height: calc(35rem / 16);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30rem / 16);
  line-height: calc(35rem / 16);
  color: var(--white);
}

.about-heading {
  width: calc(341rem / 16);
  height: calc(74rem / 16);
  font-family: 'Objet';
  font-style: normal;
  font-weight: 700;
  font-size: calc(60rem / 16);
  line-height: calc(74rem / 16);
  color: var(--white);
}

.about-paragraphs {
  margin-top: calc(30rem / 16);
  height: calc(485rem / 16);
  width: calc(705rem / 16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-paragraph-one {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30rem / 16);
  line-height: calc(43rem / 16);
  text-align: justify;
  color: var(--white);
}

.about-paragraph-two {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30rem / 16);
  line-height: calc(43rem / 16);
  text-align: justify;
  color: var(--white);
}

.about-contact {
  margin-top: calc(30rem / 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-contact-email {
  height: calc(47rem / 16);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: calc(40rem / 16);
  line-height: calc(47rem / 16);
  text-align: justify;
  color: var(--white);
}

.about-contact-underline {
  width: calc(349rem / 16);
  height: calc(47rem / 16);
}

.about-image-fairy {
  width: calc(778rem / 16);
  height: calc(1062rem / 16);
  margin-left: calc(218rem / 16);
  margin-top: calc(-90rem / 16);
}

.about-image-butterfly-1 {
  position: absolute;
  width: calc(173rem / 16);
  height: calc(135rem / 16);
  left: calc(1560rem / 16);
  top: calc(4334rem / 16);
}

.about-image-butterfly-2 {
  position: absolute;
  width: calc(193rem / 16);
  height: calc(217rem / 16);
  left: calc(341rem / 16);
  top: calc(5105rem / 16);
}

.about-image-planet {
  position: absolute;
  width: calc(172rem / 16);
  height: calc(123rem / 16);
  left: calc(1647rem / 16);
  top: calc(5272rem / 16);
}
