.header-container {
  display: flex;
  justify-content: space-between;
  width: calc(1156rem / 16);
  height: calc(100rem / 16);
  margin-top: calc(30rem / 16);
}

.header-logo-container {
  height: calc(100rem / 16);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-logo {
  width: calc(283rem / 16);
  height: calc(65rem / 16);
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
  width: calc(493rem / 16);
  height: calc(24rem / 16);
}

.header-nav-links a {
  color: var(--white);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: calc(19rem / 16);
  line-height: calc(22rem / 16);
}

.header-nav-links a:hover {
  color: var(--yellow);
}

.header-social-btn-container {
  display: flex;
  justify-content: space-between;
  width: calc(270rem / 16);
  height: calc(41rem / 16);
}

.header-social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: calc(41rem / 16);
  height: calc(41rem / 16);
  border: 3px solid var(--purple);
  border-radius: 50%;
}

.header-social-btn:hover {
  background-color: var(--purple);
}
