.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: calc(147rem / 16);
  margin-left: calc(193rem / 16);
  height: calc(87rem / 16);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: calc(807rem / 16);
  height: calc(24rem / 16);
  margin-right: calc(193rem / 16);
  margin-top: calc(38rem / 16);
  padding-top: 0;
}

.nav-links a {
  color: var(--white);
  font-size: calc(24rem / 16);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}

.nav-links a:hover {
  color: var(--yellow);
}

.social-btn-container {
  display: flex;
  justify-content: space-between;
  width: calc(300rem / 16);
  margin-left: auto;
  margin-right: calc(193rem / 16);
  margin-top: calc(100rem / 16);
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: calc(24rem / 16);
  width: calc(50rem / 16);
  height: calc(50rem / 16);
  border: 3px solid var(--purple);
  border-radius: 50%;
}

.social-btn:hover {
  background-color: var(--purple);
}
