.hero-section {
  margin-top: calc(50rem / 16);
}

.hero-container {
  display: flex;
  height: calc(666rem / 16);
  width: calc(1151rem / 16);
}

.hero-text-box {
  margin-top: calc(64rem / 16);
  width: calc(585rem / 16);
  /* margin-left: calc(202rem / 16); */
}

.hero-heading {
  font-family: Objet;
  font-size: calc(68rem / 16);
  font-weight: 700;
  text-align: left;
  line-height: calc(84rem / 16);
  width: calc(585rem / 16);
  height: calc(252rem / 16);
  /* margin-right: calc(131rem / 16); */
  color: var(--white);
}

.hero-heading-highlight {
  color: var(--yellow);
}

.hero-description-first {
  margin-top: calc(50rem / 16);
  font-family: Karla;
  font-size: calc(24rem / 16);
  font-weight: 500;
  text-align: justify;
  text-align-last: left;
  line-height: calc(35rem / 16);
  color: var(--white);
}

.hero-description-second {
  margin-top: calc(24em / 16);
  font-family: Karla;
  font-size: calc(24rem / 16);
  font-weight: 500;
  text-align: justify;
  text-align-last: left;
  line-height: calc(35rem / 16);
  color: var(--white);
}

.hero-images {
}

.hero-hat {
  width: calc(524rem / 16);
  height: calc(352rem / 16);
  margin-left: calc(32rem / 16);
  margin-top: calc(47rem / 16);
}

.hero-pot {
  width: calc(404rem / 16);
  height: calc(354rem / 16);
  margin-left: calc(158rem / 16);
  margin-top: calc(-83rem / 16);
}

/* the butterfly img positions are based on the layout container
the layout container 1920px wide and 8674px high  */

.hero-green-bubble-1 {
  width: calc(29rem / 16);
  height: calc(29rem / 16);
  margin-top: calc(-380rem / 16);
  margin-left: calc(480rem / 16);
}

.hero-green-bubble-2 {
  width: calc(29rem / 16);
  height: calc(29rem / 16);
  margin-top: calc(-100rem / 16);
  margin-left: calc(435rem / 16);
}

.hero-butterfly-1 {
  width: calc(125rem / 16);
  height: calc(111rem / 16);
  margin-left: calc(-300rem / 16);
  margin-top: calc(-280rem / 16);
}

.hero-butterfly-2 {
  width: calc(78rem / 16);
  height: calc(78rem / 16);
  margin-left: calc(325rem / 16);
  margin-top: calc(-30rem / 16);
}

.hero-butterfly-3 {
  width: calc(115rem / 16);
  height: calc(115rem / 16);
  margin-top: calc(100rem / 16);
  margin-left: calc(30rem / 16);
}

.hero-butterfly-4 {
  width: calc(112rem / 16);
  height: calc(111rem / 16);
  margin-left: calc(480rem / 16);
  margin-top: calc(-30rem / 16);
}
