html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--darker-blue);
  background-image: url('/images/backgrounds/large-bg.webp');
  background-repeat: no-repeat;
  background-position: center top;
}

.layout-container {
  margin: 0 auto;
  /* width: calc(1920rem / 16); */
  width: calc(1156rem / 16);
  min-height: calc(6587rem / 16);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
