html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--purple);
  overflow-x: hidden;
}

.layout-container {
  background-color: var(--darker-blue);
  margin: 0 auto;
  background-image: url('/images/backgrounds/bg-full-news.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(1920rem / 16);
  min-height: calc(5316rem / 16);
  overflow-x: hidden;
  overflow-y: scroll;

  /* removing scroll bar in this layout container */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* removing scroll bar in the layout container */
.layout-container::-webkit-scrollbar {
  display: none;
}

.news-hero-section {
  position: relative;
  margin-top: calc(152rem / 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-hero-butterfly-img-1 {
  position: absolute;
  top: calc(-110rem / 16);
  left: calc(505rem / 16);
}

.news-hero-butterfly-img-2 {
  position: absolute;
  top: calc(90rem / 16);
  right: calc(525rem / 16);
}

.news-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-heading {
  width: calc(652rem / 16);
  height: calc(105rem / 16);
  font-family: 'Objet';
  font-style: normal;
  font-weight: 700;
  font-size: calc(85rem / 16);
  line-height: calc(105rem / 16);
  text-align: center;
  color: var(--white);
}

.news-heading-highlight {
  color: var(--yellow);
}

.news-subheading-filter {
  display: flex;
  justify-content: center;
  margin-top: calc(22rem / 16);
  width: calc(410rem / 16);
  height: calc(29rem / 16);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(25rem / 16);
  line-height: calc(29rem / 16);
  letter-spacing: calc(9.5rem / 16);
  color: var(--white);
}

.news-subheading-filter-dropdown {
  color: var(--yellow);
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  letter-spacing: calc(10.5rem / 16);
  text-align: start;
  margin-left: calc(10.5rem / 16);
  width: calc(185rem / 16);

  /* removing dropdown arrow */
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.news-recent-post-container {
  margin-top: calc(105rem / 16);
  width: calc(1500rem / 16);
  height: calc(1030rem / 16);
  background-color: rgba(163, 51, 200, 0.5);
  border: 4px solid var(--purple);
  border-radius: calc(30rem / 16);
}

.news-recent-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-recent-post-img-container {
  margin-top: calc(18rem / 16);
  width: calc(1460rem / 16);
  height: calc(570rem / 16);
}

.news-recent-post-img {
  width: calc(1460rem / 16);
  height: calc(570rem / 16);
  border-radius: calc(30rem / 16);
}

.news-recent-post-text-container {
  margin-top: calc(53rem / 16);
  width: calc(1230rem / 16);
  display: flex;
  flex-direction: column;
}

.news-recent-post-date {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(28rem / 16);
  line-height: calc(33rem / 16);
  letter-spacing: calc(11.5rem / 16);
  color: var(--white);
}

.news-recent-post-title {
  margin-top: calc(33rem / 16);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: calc(68rem / 16);
  line-height: calc(70rem / 16);
  color: var(--white);
  max-height: calc(140rem / 16);
  overflow: hidden;
}

.news-recent-post-line-img {
  margin-top: calc(33rem / 16);
}

.news-recent-post-link {
  width: calc(220rem / 16);
  height: calc(50rem / 16);
  margin-top: calc(33rem / 16);
}

.news-recent-post-btn {
  width: calc(220rem / 16);
  height: calc(50rem / 16);
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(25rem / 16);
  line-height: calc(29rem / 16);
  color: var(--purple);

  cursor: pointer;
}

.news-index-blog-posts-section {
  margin-top: calc(62rem / 16);
  margin-bottom: calc(187rem / 16);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  scroll-behavior: initial;
  min-height: calc(1771rem / 16);
}

.news-index-blog-posts-container {
  width: calc(1500rem / 16);
  /* max-height: calc(1771rem / 16); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(40rem / 16);
  row-gap: calc(62rem / 16);
  justify-items: center;
}

.news-index-blog-posts-load-more-btn {
  margin-top: calc(87rem / 16);
  width: calc(220rem / 16);
  height: calc(60rem / 16);
  background-color: var(--purple);

  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30rem / 16);
  line-height: calc(35rem / 16);
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.news-index-blog-posts-load-more-btn:disabled {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(163, 51, 200, 0.5);
  cursor: not-allowed;
}
