.news-index-blog-posts-section {
  margin-top: calc(62rem / 16);
  display: flex;
  justify-content: center;
}

.news-index-blog-posts-container {
  width: calc(1500rem / 16);
  max-height: calc(1771rem / 16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(40rem / 16);
  row-gap: calc(62rem / 16);
  /* align-items: center; */
  justify-items: center;
}
