.team-section {
  margin-top: calc(155rem / 16);
}

.team-container {
  position: relative;
  height: calc(1098rem / 16);
  display: flex;
}

.team-container::before {
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url('/images/backgrounds/bg-team.svg'),
    url('/images/backgrounds/bg-team.svg');
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  mix-blend-mode: color-dodge;
}

.team-text-box {
  position: relative;
  width: calc(613rem / 16);
  text-align: right;
  margin-top: calc(157rem / 16);
  margin-left: calc(101rem / 16);
}

.team-section-title {
  height: calc(35rem / 16);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30rem / 16);
  line-height: calc(35rem / 16);
  color: var(--white);
}

.team-heading {
  height: calc(74rem / 16);
  font-family: 'Objet';
  font-style: normal;
  font-weight: 700;
  font-size: calc(60rem / 16);
  line-height: calc(74rem / 16);
  color: var(--white);
}

.team-heading-highlight {
  color: var(--yellow);
}

.team-paragraphs {
  margin-top: calc(30rem / 16);
  height: calc(600rem / 16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30rem / 16);
  line-height: calc(35rem / 16);
  text-align: justify;
  color: var(--white);
}

.team-images-container {
  width: calc(745rem / 16);
  height: calc(618rem / 16);
  margin-top: calc(278rem / 16);
  margin-left: calc(215rem / 16);
  display: flex;
  flex-direction: column;
  position: relative;
}

.team-images-large {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-image-ceo {
  width: calc(350rem / 16);
  height: calc(350rem / 16);
  border-radius: calc(15rem / 16);
}

.team-image-cto {
  width: calc(350rem / 16);
  height: calc(350rem / 16);
  border-radius: calc(15rem / 16);
}

.team-images-ceo-label {
  position: absolute;
  width: calc(326rem / 16);
  height: calc(66rem / 16);
  background: var(--purple);
  border-radius: calc(13rem / 16);
  margin-top: calc(-80rem / 16);
  margin-left: calc(12rem / 16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: calc(25rem / 16);
  line-height: calc(29rem / 16);
  color: var(--white);
}

.team-images-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(37rem / 16);
}

.team-image-other {
  width: calc(229rem / 16);
  height: calc(229rem / 16);
  border-radius: calc(15rem / 16);
}

.team-image-butterfly-1 {
  position: absolute;
  width: calc(142rem / 16);
  height: calc(141rem / 16);
  left: calc(1715rem / 16);
  top: calc(6735rem / 16);
}

.team-image-butterfly-2 {
  position: absolute;
  width: calc(207rem / 16);
  height: calc(183rem / 16);
  left: calc(270rem / 16);
  top: calc(7490rem / 16);
}
