.values-section {
  margin-top: 138px;
}

.values-container {
  display: flex;
  flex-direction: column;
}

.values-heading {
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 250px;
  margin-left: 240px;
}

.values-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin-top: 125px;
}

.values-section-title {
  width: 177px;
  height: 35px;
  color: calc(--white);
  font-family: Karla;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.values-header-text {
  width: 905px;
  height: 80px;
  color: calc(--white);
  font-family: Objet;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.values-header-highlight {
  color: var(--yellow);
}

.values-content {
  display: flex;
  flex-direction: row;
  margin-left: 204px;
  margin-top: 109px;
}

.values-content-largebox {
  width: 500px;
  height: 668px;
  background-color: rgba(163, 51, 200, 0.7);
  border: 2px solid var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-largebox-heading {
  font-size: 72px;
  font-family: Objet;
  text-align: center;
  line-height: 72.37px;
  margin-top: 100px;
}

.values-largebox-text {
  margin-top: 45px;
  font-size: 36px;
  font-family: Karla;
  text-align: center;
  width: 388.5px;
  font-weight: 500;
}

.values-content-smallbox {
  width: 349px;
  height: 668px;
  border: 2px solid var(--purple);
  background-color: rgba(0, 0, 0, 0.1);
}
