.values-section {
  margin-top: calc(183rem / 16);
}

.values-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.values-section-title {
  width: calc(171rem / 16);
  height: calc(35rem / 16);
  color: calc(--white);
  font-family: Karla;
  font-size: calc(30rem / 16);
  font-weight: 500;
  text-align: center;
  line-height: calc(35rem / 16);
}

.values-header-text {
  width: calc(910rem / 16);
  height: calc(74rem / 16);
  color: calc(--white);
  font-family: Objet;
  font-size: calc(60rem / 16);
  font-weight: 700;
  line-height: calc(74rem / 16);
  text-align: center;
  margin-top: calc(4rem / 16);
}

.values-header-highlight {
  color: var(--yellow);
}

.values-carousel {
  margin-top: calc(75rem / 16);
  display: flex;
  justify-content: space-between;
  width: calc(2024rem / 16);
}

.values-carousel-item {
  width: calc(625rem / 16);
  height: calc(625rem / 16);
  background: rgba(0, 0, 0, 0.3);
  border: 6px solid var(--purple);
  border-radius: calc(25rem / 16);
}

.values-carousel-item-number {
  width: calc(68rem / 16);
  height: calc(56rem / 16);
  margin-left: calc(45rem / 16);
  margin-top: calc(45rem / 16);
  font-family: 'Objet';
  font-style: normal;
  font-weight: 700;
  font-size: calc(45rem / 16);
  line-height: calc(56rem / 16);
  color: var(--white);
}

.values-carousel-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(60rem / 16);
}

.values-carousel-item-heading {
  width: calc(459rem / 16);
  height: calc(74rem / 16);
  font-family: 'Objet';
  font-style: normal;
  font-weight: 700;
  font-size: calc(60rem / 16);
  line-height: calc(74rem / 16);
  text-align: center;
  color: var(--white);
}

.values-carousel-item-text {
  margin-top: calc(67rem / 16);
  width: calc(534rem / 16);
  height: calc(196rem / 16);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: calc(42rem / 16);
  line-height: calc(49rem / 16);
  text-align: center;
  color: var(--white);
}

.values-carousel-item.center {
  background: rgba(163, 51, 200, 0.3);
}

.values-carousel-nav-container {
  display: flex;
  justify-content: space-between;
  width: calc(225rem / 16);
  margin-top: calc(91rem / 16);
}

.values-carousel-nav-arrow {
  width: calc(100rem / 16);
  height: calc(100rem / 16);
  border: 4px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values-carousel-nav-arrow img {
  width: calc(54rem / 16);
}

.values-carousel-nav-arrow:hover {
  background-color: rgba(163, 51, 200, 0.3);
}

.values-planet {
  position: absolute;
  width: calc(124rem / 16);
  height: calc(89rem / 16);
  left: calc(101rem / 16);
  top: calc(2225rem / 16);
}

.values-butterfly-1 {
  position: absolute;
  width: calc(106rem / 16);
  height: calc(105rem / 16);
  left: calc(414rem / 16);
  top: calc(2303rem / 16);
}

.values-butterfly-2 {
  position: absolute;
  width: calc(135rem / 16);
  height: calc(86rem / 16);
  left: calc(1473rem / 16);
  top: calc(2305rem / 16);
}

.values-boat {
  position: absolute;
  width: calc(387rem / 16);
  height: calc(87rem / 16);
  left: calc(615rem / 16);
  top: calc(2758rem / 16);
}
